{{ print "<!-- " .block.id " -->" | safeHTML }}
<section id="{{.block.id}}" class="main special">
    <div class="container">
        {{ if eq .params.backgroundpersection true }}
        <span class="image fit primary"
            ><img src="images/{{ with .block.picture }}{{ . }}{{ end }}" alt=""
        /></span>
        {{ end }}
        <div class="content">
            <header class="major">
                <h2>{{ with .block.title}}{{ . | markdownify }}{{ end }}</h2>
            </header>
            <p>{{ with .block.description}}{{ . | markdownify }}{{ end }}</p>
           <!-- <ul class="icons-grid">
                {{ range .block.item }}
                <li> -->
<!-- Julia: I removed <span> text from the next line that controlled color of icon and text fontn and the icon-grid class which did no good when we only have one item-->
                     <a href="{{ .link }}" class="icon major {{ .icontype }} {{ .icon }}"> <h3>{{ .title }}</h3> </span> </a>
            <!--    </li>
                {{ end }}
            </ul> -->
        </div>
        {{ if .next }}
        <a href="#{{.next.id}}" class="goto-next scrolly"
            >{{ with .block.buttontext }}{{ . | markdownify }}{{ end }}</a
        >
        {{ end }}
    </div>
</section>
